<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtime pizza app</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <nav class="container mx-auto flex items-center justify-between py-4">
      <div>
        <img src="/img/logo.png" alt="logo" />
      </div>
      <div>
        <ul class="flex items-center">
          <li><a class="ml-6" href="">Menu</a></li>
          <li><a class="ml-6" href="">Offer</a></li>
          <li><a class="ml-6" href="">Register</a></li>
          <li><a class="ml-6" href="">Login</a></li>
          <li>
            <a class="ml-6 px-4 py-2 inline-block rounded-full" href=""
              ><img src="/img/cart.png" alt="cart"
            /></a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="py-6 pizza_hero">
      <div class="mx-auto container flex flex items-center">
        <div class="w-1/2">
          <h6><em class="font-bold">Are you hungry?</em></h6>
          <h1 class="font-bold text-6xl">Don't wait!</h1>
          <input
            type="button"
            text="Order Now"
            value="Order Now"
            id="btn_order"
            class="rounded-full px-4 py-1"
          />
        </div>
        <div class="w-1/2">
          <img src="/img/hero-pizza.png" alt="pizza" />
        </div>
      </div>
    </section>

    <section class="menu container mx-auto py-8">
      <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
      <div class="grid grid-cols-4 col-gap-12 row-gap-16">
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="pizza" />
          <div class="text-center">
            <h2 class="mb-4 text-lg">Margerita</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">
              small
            </span>
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">$250</span>
              <button
                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"
              >
                <span>+</span>
                <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/app.js"></script>
  </body>
</html>
